openapi: 3.1.0
info: 
  title: Dreamboard API
  description: API for managing board games and game sessions in Dreamboard
  version: 1.0.0
  contact: 
    name: Dreamboard Team
servers: 
  - url: https://dreamboard.games
    description: Production server
  - url: http://localhost:8080
    description: Development server
security: 
  - BearerAuth: 
      []
tags: 
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication and CLI session operations
  - name: Billing
    description: "Billing checkout, subscription management, and entitlements"
  - name: Games
    description: Game management operations
  - name: Rulebooks
    description: Rulebook query operations
  - name: Sessions
    description: Game session and lobby management
  - name: UI Bundles
    description: UI bundle fetching and management
  - name: Agent
    description: AI agent operations
  - name: WebSocket
    description: Real-time communication
  - name: Webhooks
    description: Webhook endpoints called by external services
  - name: Development
    description: Development and testing endpoints
  - name: Demo Games
    description: Bundled catalog demos playable without an account
paths: 
  /: 
    get: 
      summary: Health check endpoint
      description: Returns a simple health check message
      operationId: healthCheck
      security: 
        []
      tags: 
        - Health
      responses: 
        "200": 
          description: Service is healthy
          content: 
            text/plain: 
              schema: 
                type: string
                example: Hello World!
  /api/version: 
    get: 
      summary: Get backend version metadata
      description: Returns backend revision metadata and the UI SDK version expected by the backend runtime.
      operationId: getApiVersion
      security: 
        []
      tags: 
        - Health
      responses: 
        "200": 
          description: Successfully retrieved backend version metadata
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ApiVersionResponse"
  /api/auth/me: 
    get: 
      summary: Get the authenticated Dreamboard user identity
      description: "Returns the backend-resolved Dreamboard internal user identity for the\ncurrent bearer token. Provider-specific subjects such as Clerk user IDs\nare exposed only as metadata; clients should use `id` for Dreamboard\nownership and session control.\n"
      operationId: getCurrentAuthUser
      tags: 
        - Auth
      responses: 
        "200": 
          description: Current authenticated user identity
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CurrentAuthUserResponse"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/billing/checkout-sessions: 
    post: 
      summary: Create a Stripe Checkout Session
      description: "Creates a Stripe-hosted subscription checkout session for the current\nauthenticated Dreamboard user. Dreamboard resolves billing ownership\nthrough the internal user id, not through Clerk or Stripe ids.\n"
      operationId: createBillingCheckoutSession
      tags: 
        - Billing
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateBillingCheckoutSessionRequest"
      responses: 
        "200": 
          description: Checkout session created successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/BillingSessionResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/billing/portal-sessions: 
    post: 
      summary: Create a Stripe Customer Portal Session
      description: "Creates a Stripe-hosted billing portal session for the current\nauthenticated Dreamboard user.\n"
      operationId: createBillingPortalSession
      tags: 
        - Billing
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateBillingPortalSessionRequest"
      responses: 
        "200": 
          description: Billing portal session created successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/BillingSessionResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/billing/entitlements: 
    get: 
      summary: Get current user entitlements
      description: Returns backend-owned entitlement state for the current authenticated user.
      operationId: getCurrentBillingEntitlements
      tags: 
        - Billing
      responses: 
        "200": 
          description: Current billing and entitlement state
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CurrentBillingEntitlementsResponse"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/webhooks/stripe: 
    post: 
      summary: Receive Stripe billing webhook events
      description: "Receives Stripe webhook events. The handler verifies the Stripe signature\nagainst the raw request body before updating backend-owned billing and\nentitlement state.\n"
      operationId: receiveStripeBillingWebhook
      security: 
        []
      tags: 
        - Webhooks
        - Billing
      responses: 
        "204": 
          description: Stripe event accepted or already processed
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/games: 
    get: 
      summary: "List user's games"
      description: Retrieve a list of all games owned by the authenticated user
      operationId: listGames
      tags: 
        - Games
      responses: 
        "200": 
          description: Successfully retrieved games list
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/Game"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    post: 
      summary: Create a new game
      description: Create a new game definition
      operationId: createGame
      tags: 
        - Games
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateGameRequest"
      responses: 
        "201": 
          description: Game created successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Game"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "409": 
          $ref: "#/components/responses/ConflictError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/games/extract-spec: 
    post: 
      summary: Extract a structured game spec
      description: Extract a normalized structured game spec from pasted rule text.
      operationId: extractGameSpec
      security: 
        - {}
        - BearerAuth: 
            []
      tags: 
        - Agent
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/ExtractGameSpecRequest"
      responses: 
        "200": 
          description: Structured game spec extracted
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ExtractGameSpecResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "429": 
          $ref: "#/components/responses/TooManyRequestsError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
        "503": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}": 
    parameters: 
      - $ref: "#/components/parameters/GameId"
    get: 
      summary: Get game by ID
      description: Retrieve a specific game definition by its ID
      operationId: getGame
      tags: 
        - Games
      responses: 
        "200": 
          description: Successfully retrieved game
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Game"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    put: 
      summary: Update game
      description: Update an existing game definition
      operationId: updateGame
      tags: 
        - Games
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/UpdateGameRequest"
      responses: 
        "200": 
          description: Game updated successfully
          content: 
            application/json: 
              schema: 
                type: string
                description: Success message
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    delete: 
      summary: Delete game
      description: Delete a game definition permanently
      operationId: deleteGame
      tags: 
        - Games
      responses: 
        "200": 
          description: Game deleted successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/DeleteGameResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/slug/{slug}": 
    parameters: 
      - $ref: "#/components/parameters/GameSlug"
    get: 
      summary: Get game by slug
      description: Retrieve a specific game definition by its slug
      operationId: getGameBySlug
      tags: 
        - Games
      parameters: 
        - name: includeDeleted
          in: query
          description: Include soft-deleted games in the lookup. Defaults to false.
          schema: 
            type: boolean
            default: false
          required: false
      responses: 
        "200": 
          description: Successfully retrieved game
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Game"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/workshop/query: 
    get: 
      summary: Query rulebook text by title
      description: "Search ranked rulebook candidates for the provided title, try up to the top 3 matches, and return extracted text from the first valid PDF found."
      operationId: queryWorkshopRulebook
      security: 
        - BearerAuth: 
            []
      tags: 
        - Rulebooks
      parameters: 
        - name: title
          in: query
          description: Board game title to search for in the rulebook library.
          required: true
          schema: 
            type: string
            minLength: 1
      responses: 
        "200": 
          description: Extracted rulebook text for the first valid candidate.
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/WorkshopRuleTextResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/manifests": 
    post: 
      summary: Save game manifest
      description: Create a new versioned manifest for a game. Each save creates a new version with automatic version numbering.
      operationId: saveManifest
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/SaveManifestRequest"
      responses: 
        "201": 
          description: Manifest saved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SaveManifestResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    get: 
      summary: Find manifests for game
      description: "Retrieve a list of manifest versions for a game, ordered by version descending (newest first)"
      operationId: findManifests
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          description: "Maximum number of manifests to return (default: 10, max: 100)"
          schema: 
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
          required: false
        - name: ruleId
          in: query
          description: Filter to only return manifests for a specific rule
          schema: 
            type: string
            format: uuid
          required: true
      responses: 
        "200": 
          description: Manifests retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/FindManifestsResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/manifests/{manifestId}": 
    parameters: 
      - name: manifestId
        in: path
        required: true
        description: Unique identifier for the manifest
        schema: 
          type: string
          format: uuid
    get: 
      summary: Get manifest by ID
      description: Retrieve a specific manifest version by its ID with full board manifest details
      operationId: getManifest
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      responses: 
        "200": 
          description: Manifest retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GameManifestDto"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/compiled-results/latest": 
    get: 
      summary: Get latest compiled result for a game
      description: Return the most recent compiled result for the specified game.
      operationId: getLatestCompiledResult
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
        - name: successOnly
          in: query
          description: "If true, only return results where success=true and uiStorageKey is present"
          schema: 
            type: boolean
            default: false
          required: false
      responses: 
        "200": 
          description: Latest compiled result found
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CompiledResult"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/compiled-results": 
    get: 
      summary: List compiled results for a game
      description: "Retrieve a list of compiled results for a game, ordered by creation date descending (newest first). Includes both successful and failed compilations."
      operationId: listCompiledResults
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default is 10.
          schema: 
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: authoringStateId
          in: query
          required: false
          description: Optional authoring state ID to limit results to a single authored head.
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: Compiled results retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListCompiledResultsResponse"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    post: 
      summary: Queue a compile job for an authoring state
      description: "Queue an asynchronous compile for a specific authoring state. Poll `/api/jobs/{jobId}` and fetch the final compiled result by ID when the job completes."
      operationId: queueCompiledResultJob
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/QueueCompiledResultJobRequest"
      responses: 
        "202": 
          description: Compile job accepted
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueCompiledResultJobResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/preview/initial-projection": 
    put: 
      summary: Upload initial projection for preview rendering
      description: Store the reducer-native projection JSON used by the compiler service to render a dashboard preview screenshot.
      operationId: uploadInitialProjection
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/UploadInitialProjectionRequest"
      responses: 
        "204": 
          description: Initial projection uploaded successfully
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/preview/screenshot": 
    post: 
      summary: Queue preview screenshot generation
      description: Queue an async job that renders the latest successful UI bundle with the stored initial projection and stores a PNG preview.
      operationId: queuePreviewScreenshot
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      responses: 
        "202": 
          description: Preview screenshot job queued
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PreviewScreenshotJobResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "409": 
          $ref: "#/components/responses/ConflictError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/preview/image": 
    get: 
      summary: Fetch generated preview image
      description: Return the latest generated game preview PNG from artifact storage.
      operationId: fetchPreviewImage
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      responses: 
        "200": 
          description: Preview image retrieved successfully
          content: 
            image/png: 
              schema: 
                type: string
                format: binary
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/dev-compiles/ensure": 
    post: 
      summary: Ensure a private dev compile exists
      description: Reuse or create a session-scoped dev compilation for the provided workspace fingerprint without advancing the canonical authored head.
      operationId: ensureDevCompile
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EnsureDevCompileRequest"
      responses: 
        "200": 
          description: Existing dev compile reused or cache miss reported
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/EnsureDevCompileResponse"
        "202": 
          description: Dev compile job accepted
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/EnsureDevCompileResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "409": 
          $ref: "#/components/responses/ConflictError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/compiled-results/{compiledResultId}": 
    parameters: 
      - $ref: "#/components/parameters/GameId"
      - name: compiledResultId
        in: path
        required: true
        description: Unique identifier for the compiled result
        schema: 
          type: string
          format: uuid
    get: 
      summary: Get compiled result by ID
      description: "Fetch a specific compiled result for a game, including failed results and diagnostics."
      operationId: getCompiledResult
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      responses: 
        "200": 
          description: Compiled result found
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CompiledResult"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/download": 
    get: 
      summary: Download authored game source files
      description: Download the authored source files for the current authoring head as a ZIP archive.
      operationId: downloadGameSources
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      responses: 
        "200": 
          description: ZIP archive containing source files
          content: 
            application/zip: 
              schema: 
                type: string
                format: binary
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/sources": 
    get: 
      summary: Get authored game source files
      description: "Retrieve authored source files as JSON for the selected authoring state. If no authoring state is provided, the current authoring head is used."
      operationId: getGameSources
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
        - name: authoringStateId
          in: query
          required: false
          description: "Optional authoring state ID to fetch sources from. If not provided, uses the current authoring head."
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: Source files retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GameSourcesResponse"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/source-revisions": 
    post: 
      summary: Create a source revision for a game
      description: Create a new authored source revision from a hash-addressed change set. The request must be based on the current head revision for the game.
      operationId: createSourceRevision
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateSourceRevisionRequest"
      responses: 
        "201": 
          description: Source revision created
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SourceRevision"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "409": 
          description: Base source revision does not match the current head revision
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ProblemDetails"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/source-blobs/upload-sessions": 
    post: 
      summary: Create direct-upload targets for source blobs
      description: Create a direct-upload session for one or more source blobs referenced by a forthcoming source revision.
      operationId: createSourceBlobUploadSession
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateSourceBlobUploadSessionRequest"
      responses: 
        "201": 
          description: Upload session created
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SourceBlobUploadSession"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/authoring/head": 
    get: 
      summary: Get current authoring head for a game
      description: Retrieve the current remote authoring head for the specified game.
      operationId: getAuthoringHead
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      responses: 
        "200": 
          description: Current authoring head found
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AuthoringState"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/authoring/states": 
    post: 
      summary: Advance the authoring head for a game
      description: Create a new immutable authoring state and make it the current authoring head for the specified game.
      operationId: createAuthoringState
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateAuthoringStateRequest"
      responses: 
        "201": 
          description: Authoring state created and promoted to head
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AuthoringState"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "409": 
          description: Base authoring state does not match the current head
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ProblemDetails"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/scripts": 
    get: 
      summary: Get game scripts
      description: Retrieve all compiled app and UI scripts for a specific manifest
      operationId: getGameScripts
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
        - name: manifestId
          in: query
          required: true
          description: The manifest ID to get compiled scripts for
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: Game scripts retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GameScriptsResponse"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/jobs/active": 
    parameters: 
      - $ref: "#/components/parameters/GameId"
    get: 
      summary: Get active job for a game
      description: "Returns the currently active (PENDING or RUNNING) job for a game, if any. Jobs older than 15 minutes are considered stale and ignored."
      operationId: getActiveJob
      security: 
        - BearerAuth: 
            []
      tags: 
        - Jobs
      responses: 
        "200": 
          description: Active job status (null if no active job)
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ActiveJobResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/jobs/{jobId}": 
    parameters: 
      - name: jobId
        in: path
        required: true
        description: Unique identifier for any async job
        schema: 
          type: string
          format: uuid
    get: 
      summary: Get job details
      description: "Fetch details for a specific async job, including ordered user-facing tasks."
      operationId: getJob
      security: 
        - BearerAuth: 
            []
      tags: 
        - Jobs
      responses: 
        "200": 
          description: Job details
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobDetailResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/jobs/{jobId}/event-batches": 
    parameters: 
      - name: jobId
        in: path
        required: true
        description: Unique identifier for any async job
        schema: 
          type: string
          format: uuid
    get: 
      summary: Long-poll job details
      description: "Return the current job snapshot immediately when it differs from afterCursor, otherwise wait briefly for a job update."
      operationId: getJobEventBatch
      security: 
        - BearerAuth: 
            []
      tags: 
        - Jobs
      parameters: 
        - name: afterCursor
          in: query
          required: false
          schema: 
            type: string
          description: Opaque cursor from the previous job event batch.
        - name: waitMs
          in: query
          required: false
          schema: 
            type: integer
            format: int32
            minimum: 0
            maximum: 25000
            default: 25000
          description: Maximum time to hold the request before returning an empty batch.
      responses: 
        "200": 
          description: Job event batch
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobEventBatchResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/runs: 
    post: 
      summary: Create a game build run
      description: Create a new game draft build job from a structured game spec.
      operationId: createGameRun
      security: 
        - BearerAuth: 
            []
      tags: 
        - Agent
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateGameRunRequest"
      responses: 
        "202": 
          description: Game build run accepted
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CreateGameRunResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "409": 
          $ref: "#/components/responses/ConflictError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/runs/{jobId}/cancel": 
    post: 
      summary: Cancel a game build run
      description: Request cancellation of an active game draft build job.
      operationId: cancelGameRun
      security: 
        - BearerAuth: 
            []
      tags: 
        - Agent
      parameters: 
        - name: jobId
          in: path
          required: true
          schema: 
            type: string
            format: uuid
      responses: 
        "202": 
          description: Game build run cancellation accepted
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/rules": 
    post: 
      summary: Create a new game rule
      description: Create a new versioned rule for a game. Each save creates a new version with automatic version numbering.
      operationId: createGameRule
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateGameRuleRequest"
      responses: 
        "201": 
          description: Game rule created successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CreateGameRuleResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    get: 
      summary: List game rules for a game
      description: "Retrieve a list of rule versions for a game, ordered by version descending (newest first)"
      operationId: listGameRules
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          description: "Maximum number of rules to return (default: 10, max: 100)"
          schema: 
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
          required: false
      responses: 
        "200": 
          description: Game rules retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListGameRulesResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/rules/latest": 
    get: 
      summary: Get the latest game rule
      description: Retrieve the most recent rule version for a game with full details including the complete rule text
      operationId: getLatestGameRule
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      parameters: 
        - $ref: "#/components/parameters/GameId"
      responses: 
        "200": 
          description: Latest game rule retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GameRule"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/rules/{ruleId}": 
    parameters: 
      - name: ruleId
        in: path
        required: true
        description: Unique identifier for the game rule
        schema: 
          type: string
          format: uuid
    get: 
      summary: Get game rule by ID
      description: Retrieve a specific game rule version by its ID with full details
      operationId: getGameRule
      security: 
        - BearerAuth: 
            []
      tags: 
        - Games
      responses: 
        "200": 
          description: Game rule retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GameRule"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/sessions": 
    post: 
      summary: Create a new game session
      description: Create a new game session in lobby phase with initial seat configuration
      operationId: createSession
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateSessionRequest"
      responses: 
        "201": 
          description: Session created successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CreateSessionResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/games/{gameId}/sessions/from-reducer-snapshot": 
    post: 
      summary: Create a session from a reducer snapshot
      description: Create an auto-assigned gameplay session from a reducer-native snapshot produced by the CLI scenario harness.
      operationId: createSessionFromReducerSnapshot
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      parameters: 
        - $ref: "#/components/parameters/GameId"
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/CreateSessionFromReducerSnapshotRequest"
      responses: 
        "200": 
          description: Session materialized successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HostSessionSnapshot"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/code/{shortCode}": 
    parameters: 
      - name: shortCode
        in: path
        required: true
        description: "Memorable short code for the session (e.g., 'swift-falcon-73')"
        schema: 
          type: string
    get: 
      summary: Get session by short code
      description: Look up and hydrate a session using its memorable short code.
      operationId: getSessionByShortCode
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      parameters: 
        - name: playerId
          in: query
          required: false
          schema: 
            type: string
          description: Optional controlled player to include in the selected-perspective gameplay snapshot.
      responses: 
        "200": 
          description: Session found successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HostSessionSnapshot"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/snapshot": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
    get: 
      summary: Get a session snapshot
      description: Return the canonical selected-perspective session snapshot for first render or explicit resync.
      operationId: getSessionSnapshot
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      parameters: 
        - name: playerId
          in: query
          required: false
          schema: 
            type: string
          description: Optional controlled player to include in the selected-perspective gameplay snapshot.
      responses: 
        "200": 
          description: Session snapshot retrieved successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HostSessionSnapshot"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/event-batches": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
    get: 
      summary: Long-poll selected-perspective session events
      description: "Return a session snapshot when no cursor is supplied, otherwise return visible persisted events after the cursor or wait briefly for the next update."
      operationId: getSessionEventBatch
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      parameters: 
        - name: playerId
          in: query
          required: false
          schema: 
            type: string
          description: Optional controlled player for the selected gameplay perspective.
        - name: afterCursor
          in: query
          required: false
          schema: 
            type: integer
            format: int64
            minimum: 0
          description: Latest message cursor received by the client.
        - name: waitMs
          in: query
          required: false
          schema: 
            type: integer
            format: int32
            minimum: 0
            maximum: 25000
            default: 25000
          description: Maximum time to hold the request before returning an empty batch.
        - name: clientId
          in: query
          required: true
          schema: 
            type: string
          description: Stable browser-tab identifier used to replace stale long-poll requests from the same tab.
        - name: clientSource
          in: query
          required: false
          schema: 
            type: string
          description: "Optional caller label for diagnostics, such as `play-page` or `session-play-panel`."
      responses: 
        "200": 
          description: Session event batch
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HostSessionEventBatchResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "429": 
          $ref: "#/components/responses/TooManyRequestsError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/log-batches": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
    get: 
      summary: Long-poll game logs
      description: Return replayed game engine console logs after a cursor or wait briefly for the next log entry.
      operationId: getSessionLogBatch
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      parameters: 
        - name: afterLogId
          in: query
          required: false
          schema: 
            type: integer
            format: int64
            minimum: 0
            default: 0
          description: Last log id received by the client.
        - name: waitMs
          in: query
          required: false
          schema: 
            type: integer
            format: int32
            minimum: 0
            maximum: 25000
            default: 25000
          description: Maximum time to hold the request before returning an empty batch.
        - name: limit
          in: query
          required: false
          schema: 
            type: integer
            format: int32
            minimum: 1
            maximum: 500
            default: 100
          description: Maximum log entries to return.
      responses: 
        "200": 
          description: Session log batch
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SessionLogBatchResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/start": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
    post: 
      summary: Start the game
      description: Transition session from lobby to gameplay phase (host only)
      operationId: startGame
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "200": 
          description: Game started successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HostSessionSnapshot"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/players/{playerId}/actions": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    get: 
      summary: List current actions for a selected player
      description: Returns the current server-authored descriptors and action-set revision for the selected player.
      operationId: listPlayerActions
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "200": 
          description: Current actions returned successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PlayerActionsResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/players/{playerId}/actions/{interactionId}": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
      - name: interactionId
        in: path
        required: true
        schema: 
          type: string
    get: 
      summary: Describe one current action
      description: Returns the full current descriptor and action-set revision for one selected-player interaction.
      operationId: describePlayerAction
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "200": 
          description: Action descriptor returned successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PlayerActionResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/players/{playerId}/actions/{interactionId}/targets/{inputKey}": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
      - name: interactionId
        in: path
        required: true
        schema: 
          type: string
      - name: inputKey
        in: path
        required: true
        schema: 
          type: string
    get: 
      summary: Describe the current valid target/domain values for one action input
      description: Returns the current server-authored input domain for a selected-player action input.
      operationId: getPlayerActionTargets
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "200": 
          description: Input domain returned successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PlayerActionTargetsResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/players/{playerId}/actions/{interactionId}/validate": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
      - name: interactionId
        in: path
        required: true
        schema: 
          type: string
    post: 
      summary: Validate collector-shaped action inputs
      description: Validates one selected-player action using collector-shaped inputs. Path fields are authoritative; clients do not send a GameInput envelope.
      operationId: validatePlayerAction
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/PlayerActionRequest"
      responses: 
        "200": 
          description: Validation result returned successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PlayerActionValidateResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "409": 
          $ref: "#/components/responses/ConflictError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/players/{playerId}/actions/{interactionId}/submit": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
      - name: interactionId
        in: path
        required: true
        schema: 
          type: string
      - name: X-Dreamboard-Client-Action-Id
        in: header
        required: true
        schema: 
          type: string
          minLength: 1
    post: 
      summary: Submit collector-shaped action inputs
      description: Submits one selected-player action using collector-shaped inputs. Path fields are authoritative; clients do not send a GameInput envelope.
      operationId: submitPlayerAction
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/PlayerActionRequest"
      responses: 
        "200": 
          description: Submission result returned successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HostActionSubmitResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "409": 
          $ref: "#/components/responses/ConflictError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
    post: 
      summary: Add a seat to the lobby
      description: "Add a new seat to the lobby (host only, up to maxPlayers)"
      operationId: addSeat
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "201": 
          description: Seat added successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SeatAssignment"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats/{playerId}": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    patch: 
      summary: Update seat settings
      description: Update seat display name and/or player color. User must be assigned to the seat.
      operationId: updateSeat
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/UpdateSeatRequest"
      responses: 
        "200": 
          description: Seat updated successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SeatAssignment"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
    delete: 
      summary: Remove a seat from the lobby
      description: "Remove a seat from the lobby (host only, down to minPlayers)"
      operationId: removeSeat
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "204": 
          description: Seat removed successfully
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats/{playerId}/assign": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post: 
      summary: Assign a seat to current user
      description: Assign the current authenticated user to a specific seat
      operationId: assignSeat
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "204": 
          description: Seat assigned successfully
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/history/restore": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
    post: 
      summary: Restore game state from history
      description: Restore the game to a previous state from history (host only)
      operationId: restoreHistory
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/RestoreHistoryRequest"
      responses: 
        "200": 
          description: Game state restored successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/RestoreHistoryResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats/{playerId}/unassign": 
    parameters: 
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post: 
      summary: Unassign a seat
      description: Unassign the current user from a specific seat
      operationId: unassignSeat
      security: 
        - BearerAuth: 
            []
      tags: 
        - Sessions
      responses: 
        "204": 
          description: Seat unassigned successfully
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "403": 
          $ref: "#/components/responses/ForbiddenError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/ui-bundles/fetch: 
    get: 
      summary: Fetch UI bundle
      description: Fetch and return the HTML content of a UI bundle from object storage based on the last compiled UI result
      operationId: fetchUiBundle
      security: 
        - BearerAuth: 
            []
      tags: 
        - UI Bundles
      parameters: 
        - name: gameId
          in: query
          description: ID of the game to fetch the UI bundle for (user-compiled sessions)
          schema: 
            type: string
            format: uuid
          required: false
        - name: sessionId
          in: query
          description: "When set with demo auth headers, fetch the UI bundle for that demo session's catalog revision"
          schema: 
            type: string
            format: uuid
          required: false
      responses: 
        "200": 
          description: UI bundle HTML retrieved successfully
          content: 
            text/html: 
              schema: 
                type: string
                description: HTML content of the UI bundle
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "401": 
          $ref: "#/components/responses/UnauthorizedError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  /api/demo-games: 
    get: 
      summary: List demo games
      description: List bundled demo games that can be opened without a normal user account.
      operationId: listDemoGames
      security: 
        []
      tags: 
        - Demo Games
      responses: 
        "200": 
          description: Successfully retrieved demo games
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/DemoGameSummary"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/demo-games/{slug}": 
    parameters: 
      - name: slug
        in: path
        required: true
        description: Demo game slug
        schema: 
          type: string
          example: frontier-trails
    get: 
      summary: Get demo game
      description: Return registration and playability metadata for a bundled demo game.
      operationId: getDemoGame
      security: 
        []
      tags: 
        - Demo Games
      responses: 
        "200": 
          description: Successfully retrieved demo game metadata
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/DemoGameDetails"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/demo-games/{slug}/thumbnail": 
    parameters: 
      - name: slug
        in: path
        required: true
        description: Demo game slug
        schema: 
          type: string
          example: frontier-trails
    get: 
      summary: Get demo game thumbnail
      description: Return the static thumbnail image for an active bundled demo game.
      operationId: getDemoGameThumbnail
      security: 
        []
      tags: 
        - Demo Games
      responses: 
        "200": 
          description: Successfully retrieved demo thumbnail
          content: 
            image/png: 
              schema: 
                type: string
                format: binary
            image/jpeg: 
              schema: 
                type: string
                format: binary
            image/webp: 
              schema: 
                type: string
                format: binary
            image/svg+xml: 
              schema: 
                type: string
                format: binary
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
  "/api/demo-games/{slug}/sessions": 
    parameters: 
      - name: slug
        in: path
        required: true
        description: Demo game slug
        schema: 
          type: string
          example: frontier-trails
    post: 
      summary: Create demo session
      description: Create a fresh guest-play session for a bundled demo game.
      operationId: createDemoGameSession
      security: 
        []
      tags: 
        - Demo Games
      responses: 
        "201": 
          description: Demo session created successfully
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/DemoSessionResponse"
        "400": 
          $ref: "#/components/responses/BadRequestError"
        "404": 
          $ref: "#/components/responses/NotFoundError"
        "500": 
          $ref: "#/components/responses/InternalServerError"
components: 
  parameters: 
    GameId: 
      name: gameId
      in: path
      required: true
      description: Unique identifier for the game
      schema: 
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    GameSlug: 
      name: slug
      in: path
      required: true
      description: URL-safe game slug
      schema: 
        type: string
        example: my-game
    SessionId: 
      name: sessionId
      in: path
      required: true
      description: Unique identifier for the game session
      schema: 
        type: string
        format: uuid
        example: 987e6543-e21b-34d5-b678-542316174000
    PlayerId: 
      name: playerId
      in: path
      required: true
      description: "Unique identifier for the player (e.g., 'player-1')"
      schema: 
        type: string
        example: player-1
  responses: 
    UnauthorizedError: 
      description: Unauthorized - authentication required
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
    InternalServerError: 
      description: Internal server error
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
    BadRequestError: 
      description: Bad request - invalid input parameters
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
    NotFoundError: 
      description: Resource not found
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
    ConflictError: 
      description: Conflict - version mismatch or resource state conflict
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
    TooManyRequestsError: 
      description: Too many requests or live connections
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
    ForbiddenError: 
      description: Forbidden - insufficient permissions
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/ProblemDetails"
  schemas: 
    ApiVersionResponse: 
      type: object
      description: Backend runtime version metadata used by local development hosts.
      required: 
        - backendRevision
        - uiSdkVersion
      properties: 
        backendRevision: 
          type: string
          nullable: true
          description: "Deployed backend application revision or git SHA, when available."
        uiSdkVersion: 
          type: string
          nullable: true
          description: UI SDK version expected by the backend runtime.
    CurrentAuthUserResponse: 
      type: object
      description: Backend-resolved authenticated Dreamboard user identity.
      properties: 
        id: 
          type: string
          format: uuid
          description: Dreamboard internal user UUID. Use this for ownership and session control.
        provider: 
          type: string
          description: External auth provider that authenticated the user.
        providerSubject: 
          type: string
          description: "Provider-specific subject, such as a Clerk user ID."
        email: 
          type: string
          nullable: true
          description: Verified email address when provided by the auth provider.
      required: 
        - id
        - provider
        - providerSubject
    ProblemType: 
      type: string
      description: Stable machine-readable problem identifier
      enum: 
        - urn:dreamboard:problem:action-rejected
        - urn:dreamboard:problem:active-job-conflict
        - urn:dreamboard:problem:authoring-state-base-missing
        - urn:dreamboard:problem:authoring-state-drift
        - urn:dreamboard:problem:forbidden
        - urn:dreamboard:problem:game-slug-conflict
        - urn:dreamboard:problem:internal-error
        - urn:dreamboard:problem:resource-not-found
        - urn:dreamboard:problem:source-revision-base-missing
        - urn:dreamboard:problem:source-revision-drift
        - urn:dreamboard:problem:source-revision-not-found
        - urn:dreamboard:problem:state-conflict
        - urn:dreamboard:problem:too-many-requests
        - urn:dreamboard:problem:unauthorized
        - urn:dreamboard:problem:validation-failed
      x-enum-varnames: 
        - ACTION_REJECTED
        - ACTIVE_JOB_CONFLICT
        - AUTHORING_STATE_BASE_MISSING
        - AUTHORING_STATE_DRIFT
        - FORBIDDEN
        - GAME_SLUG_CONFLICT
        - INTERNAL_ERROR
        - RESOURCE_NOT_FOUND
        - SOURCE_REVISION_BASE_MISSING
        - SOURCE_REVISION_DRIFT
        - SOURCE_REVISION_NOT_FOUND
        - STATE_CONFLICT
        - TOO_MANY_REQUESTS
        - UNAUTHORIZED
        - VALIDATION_FAILED
    ProblemViolation: 
      type: object
      properties: 
        field: 
          type: string
          description: Optional field or input path associated with the issue
        code: 
          type: string
          description: Optional machine-readable issue code
        message: 
          type: string
          description: Human-readable issue description
      required: 
        - message
    ProblemDetails: 
      type: object
      properties: 
        type: 
          $ref: "#/components/schemas/ProblemType"
        title: 
          type: string
          description: Short summary of the problem type
        status: 
          type: integer
          description: HTTP status code for this problem
        detail: 
          type: string
          description: Human-readable explanation specific to this occurrence
        instance: 
          type: string
          description: Request URI or other occurrence identifier
        requestId: 
          type: string
          description: Correlation ID for tracing this request across logs and support tooling
        retryable: 
          type: boolean
          description: Whether retrying the same request may succeed without changing input
        context: 
          type: object
          additionalProperties: 
            type: string
          description: Structured context for programmatic handling and richer UX
        violations: 
          type: array
          items: 
            $ref: "#/components/schemas/ProblemViolation"
          description: Optional structured issues associated with the problem
        timestamp: 
          type: string
          format: date-time
          description: ISO 8601 timestamp of the problem response
      required: 
        - type
        - title
        - status
        - detail
    CreateBillingCheckoutSessionRequest: 
      type: object
      properties: 
        planKey: 
          type: string
          description: Dreamboard plan key to purchase.
          default: designer
        successUrl: 
          type: string
          description: Absolute URL Stripe should redirect to after successful checkout.
        cancelUrl: 
          type: string
          description: Absolute URL Stripe should redirect to if checkout is cancelled.
    BillingSessionResponse: 
      type: object
      required: 
        - id
        - url
      properties: 
        id: 
          type: string
          description: Stripe-hosted session id.
        url: 
          type: string
          description: URL the client should navigate to.
    CreateBillingPortalSessionRequest: 
      type: object
      properties: 
        returnUrl: 
          type: string
          description: Absolute URL Stripe should return to from the billing portal.
    BillingEntitlement: 
      type: object
      required: 
        - key
        - active
        - source
      properties: 
        key: 
          type: string
        active: 
          type: boolean
        source: 
          type: string
        expiresAt: 
          type: string
          format: date-time
    CurrentBillingEntitlementsResponse: 
      type: object
      required: 
        - checkoutEnabled
        - portalEnabled
        - entitlements
      properties: 
        checkoutEnabled: 
          type: boolean
        portalEnabled: 
          type: boolean
        planKey: 
          type: string
        subscriptionStatus: 
          type: string
        currentPeriodEnd: 
          type: string
          format: date-time
        entitlements: 
          type: array
          items: 
            $ref: "#/components/schemas/BillingEntitlement"
    GameMetadata: 
      type: object
      properties: 
        minPlayers: 
          type: integer
          minimum: 1
          maximum: 20
          nullable: true
          description: Minimum player count
        maxPlayers: 
          type: integer
          minimum: 1
          maximum: 20
          nullable: true
          description: Maximum player count
        playTimeMinMinutes: 
          type: integer
          minimum: 1
          nullable: true
          description: Minimum estimated play time in minutes
        playTimeMaxMinutes: 
          type: integer
          minimum: 1
          nullable: true
          description: Maximum estimated play time in minutes
        difficulty: 
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: Complexity rating from 1 (simple) to 5 (complex)
    Game: 
      type: object
      properties: 
        id: 
          type: string
          format: uuid
          description: Unique identifier for the game
        slug: 
          type: string
          description: URL-safe game slug (lowercase kebab-case)
        name: 
          type: string
          description: Display name of the game
          minLength: 1
          maxLength: 255
        description: 
          type: string
          description: Detailed description of the game
          nullable: true
        ruleText: 
          type: string
          description: Game rules text
          nullable: true
        public: 
          type: boolean
          description: Whether the game is publicly visible
          default: false
        createdAt: 
          type: string
          format: date-time
          description: When the game was created
        updatedAt: 
          type: string
          format: date-time
          description: When the game was last updated
        scriptId: 
          type: string
          description: ID of the script that defines the game logic
          nullable: true
        previewStorageKey: 
          type: string
          description: Artifact object key for the latest generated game preview PNG
          nullable: true
        initialProjectionKey: 
          type: string
          description: Artifact object key for the reducer-native projection used to render previews
          nullable: true
        metadata: 
          $ref: "#/components/schemas/GameMetadata"
          nullable: true
        verified: 
          type: boolean
          description: Whether an agent build has passed Dreamboard workspace verification for this game
          default: false
        verifiedAt: 
          type: string
          format: date-time
          nullable: true
          description: When the latest passing agent verification was recorded
      required: 
        - id
        - slug
        - name
        - public
        - createdAt
        - updatedAt
        - verified
    CreateGameRequest: 
      type: object
      description: Request to create a new game
      properties: 
        slug: 
          type: string
          description: URL-safe game slug (lowercase kebab-case). Optional for legacy clients.
          nullable: true
        name: 
          type: string
          description: "Name of the game (default: 'Untitled Game')"
          maxLength: 200
        description: 
          type: string
          description: Optional description of the game
          maxLength: 1000
          nullable: true
        ruleText: 
          type: string
          description: Optional initial rule text
          maxLength: 50000
        enhanceRule: 
          type: boolean
          description: Whether to enhance the rules using AI before saving
          default: false
    ExtractGameSpecRequest: 
      type: object
      description: Request to extract a structured game spec from rule text.
      properties: 
        ruleText: 
          type: string
          minLength: 1
          maxLength: 50000
      required: 
        - ruleText
    GameSpecPlayers: 
      type: object
      description: Supported player count range for a generated game.
      properties: 
        min: 
          type: integer
          minimum: 1
          maximum: 20
        max: 
          type: integer
          minimum: 1
          maximum: 20
      required: 
        - min
        - max
    GameSpecComponent: 
      type: string
      description: Component family expected in the generated game.
      enum: 
        - deck
        - dice
        - board
        - resource
        - token
        - tracker
    GameSpecComponentItem: 
      type: object
      description: "A named child entry within a component, such as a card in a deck, a\nregion on a board, a space on a track, or a type in a tile set.\n"
      properties: 
        name: 
          type: string
          minLength: 1
          maxLength: 100
        notes: 
          type: string
          maxLength: 500
      required: 
        - name
    GameSpecComponentSpec: 
      type: object
      description: "A single component instance in the generated game. Multiple instances of\nthe same `kind` are allowed (e.g. two decks). `name` is a short label and\n`notes` is freeform detail the agent will expand into manifest entries.\n`items` can carry named child entries when the component naturally contains\nthem.\n"
      properties: 
        kind: 
          $ref: "#/components/schemas/GameSpecComponent"
        name: 
          type: string
          minLength: 1
          maxLength: 100
        notes: 
          type: string
          maxLength: 500
        items: 
          type: array
          maxItems: 100
          items: 
            $ref: "#/components/schemas/GameSpecComponentItem"
      required: 
        - kind
        - name
    GameSpecForm: 
      type: object
      description: Structured game specification submitted by the new-game flow.
      properties: 
        name: 
          type: string
          minLength: 1
          maxLength: 200
        players: 
          $ref: "#/components/schemas/GameSpecPlayers"
        components: 
          type: array
          items: 
            $ref: "#/components/schemas/GameSpecComponentSpec"
          maxItems: 50
        winCondition: 
          type: string
          maxLength: 2000
        additionalRules: 
          type: string
          minLength: 1
          maxLength: 50000
      required: 
        - name
        - players
        - components
        - winCondition
        - additionalRules
    ExtractGameSpecResponse: 
      type: object
      description: Structured game spec extracted from rule text.
      properties: 
        gameSpec: 
          $ref: "#/components/schemas/GameSpecForm"
      required: 
        - gameSpec
    PlayersDefinition: 
      type: object
      description: Supported player-count metadata for the game
      properties: 
        minPlayers: 
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        maxPlayers: 
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        optimalPlayers: 
          type: integer
          format: int32
          minimum: 1
          maximum: 10
      required: 
        - minPlayers
        - maxPlayers
    PresetCardSetDefinition: 
      type: object
      properties: 
        id: 
          type: string
          description: Unique local identifier for the authored card set
          minLength: 1
        presetId: 
          type: string
          description: Built-in preset card-set selector
          minLength: 1
        name: 
          type: string
          description: Display name of the card set
          minLength: 1
        type: 
          type: string
          enum: 
            - preset
          description: Type of card set source
      required: 
        - id
        - presetId
        - name
        - type
    JsonValue: 
      description: Arbitrary authored JSON value.
      oneOf: 
        - type: string
        - type: integer
        - type: number
        - type: boolean
        - type: "null"
        - type: array
          items: 
            $ref: "#/components/schemas/JsonValue"
        - type: object
          additionalProperties: 
            $ref: "#/components/schemas/JsonValue"
    PropertySchema: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - string
            - integer
            - number
            - boolean
            - zoneId
            - cardId
            - playerId
            - boardId
            - edgeId
            - vertexId
            - spaceId
            - pieceId
            - dieId
            - resourceId
            - array
            - object
            - record
            - enum
          description: The data type of the property.
        description: 
          type: string
          description: "Optional description of the property's purpose and usage."
          nullable: true
        optional: 
          type: boolean
          description: Whether an object property may be omitted.
          default: false
        nullable: 
          type: boolean
          description: Whether the value may be null.
          default: false
        default: 
          description: "Optional authored default value for this property. When present, omitted\nseed values materialize to the default and generated TypeScript treats\nthe property as present even if `optional: true` is also set.\n"
          $ref: "#/components/schemas/JsonValue"
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
        items: 
          $ref: "#/components/schemas/PropertySchema"
          description: "For array types, the schema of the array items. Required if type is 'array'."
          nullable: true
        properties: 
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/PropertySchema"
          description: "For object types, the schema of the object's properties. Required if type is 'object'."
          nullable: true
        enums: 
          type: array
          items: 
            type: string
          description: "For enum types, the list of allowed string values. Required if type is 'enum'."
          nullable: true
        values: 
          $ref: "#/components/schemas/PropertySchema"
          description: "For record types, the schema of the record's values. Required if type is 'record'."
          nullable: true
      required: 
        - type
    ObjectSchema: 
      type: object
      properties: 
        properties: 
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/PropertySchema"
          description: "Map of property names to their schemas. Type is always 'object' and all properties are required."
      required: 
        - properties
    CardPropertySchemaVariants: 
      type: object
      properties: 
        shared: 
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/PropertySchema"
          description: Property schemas present on every card-type variant.
        variants: 
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/ObjectSchema"
          description: Property schema for each card type in this manual card set.
      required: 
        - variants
    CardPropertySchema: 
      oneOf: 
        - $ref: "#/components/schemas/ObjectSchema"
        - $ref: "#/components/schemas/CardPropertySchemaVariants"
    DetachedHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - detached
      required: 
        - type
    ZoneHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - zone
        zoneId: 
          type: string
      required: 
        - type
        - zoneId
    SpaceHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - space
        boardId: 
          type: string
        spaceId: 
          type: string
      required: 
        - type
        - boardId
        - spaceId
    ContainerHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - container
        boardId: 
          type: string
        containerId: 
          type: string
      required: 
        - type
        - boardId
        - containerId
    BoardEdgeRef: 
      type: object
      description: Tiled board edge identified by the spaces that border it
      properties: 
        spaces: 
          type: array
          items: 
            type: string
          minItems: 1
          maxItems: 2
          uniqueItems: true
      required: 
        - spaces
    EdgeHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - edge
        boardId: 
          type: string
        ref: 
          $ref: "#/components/schemas/BoardEdgeRef"
      required: 
        - type
        - boardId
        - ref
    BoardVertexRef: 
      type: object
      description: Tiled board vertex identified by the spaces that touch it
      properties: 
        spaces: 
          type: array
          items: 
            type: string
          minItems: 1
          maxItems: 4
          uniqueItems: true
      required: 
        - spaces
    VertexHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - vertex
        boardId: 
          type: string
        ref: 
          $ref: "#/components/schemas/BoardVertexRef"
      required: 
        - type
        - boardId
        - ref
    PieceSlotHostRef: 
      type: object
      properties: 
        kind: 
          type: string
          enum: 
            - piece
        id: 
          type: string
      required: 
        - kind
        - id
    DieSlotHostRef: 
      type: object
      properties: 
        kind: 
          type: string
          enum: 
            - die
        id: 
          type: string
      required: 
        - kind
        - id
    SlotHostRef: 
      oneOf: 
        - $ref: "#/components/schemas/PieceSlotHostRef"
        - $ref: "#/components/schemas/DieSlotHostRef"
      discriminator: 
        propertyName: kind
        mapping: 
          piece: "#/components/schemas/PieceSlotHostRef"
          die: "#/components/schemas/DieSlotHostRef"
    SlotHomeSpec: 
      type: object
      properties: 
        type: 
          type: string
          enum: 
            - slot
        host: 
          $ref: "#/components/schemas/SlotHostRef"
        slotId: 
          type: string
      required: 
        - type
        - host
        - slotId
    ComponentHomeSpec: 
      oneOf: 
        - $ref: "#/components/schemas/DetachedHomeSpec"
        - $ref: "#/components/schemas/ZoneHomeSpec"
        - $ref: "#/components/schemas/SpaceHomeSpec"
        - $ref: "#/components/schemas/ContainerHomeSpec"
        - $ref: "#/components/schemas/EdgeHomeSpec"
        - $ref: "#/components/schemas/VertexHomeSpec"
        - $ref: "#/components/schemas/SlotHomeSpec"
      discriminator: 
        propertyName: type
        mapping: 
          detached: "#/components/schemas/DetachedHomeSpec"
          zone: "#/components/schemas/ZoneHomeSpec"
          space: "#/components/schemas/SpaceHomeSpec"
          container: "#/components/schemas/ContainerHomeSpec"
          edge: "#/components/schemas/EdgeHomeSpec"
          vertex: "#/components/schemas/VertexHomeSpec"
          slot: "#/components/schemas/SlotHomeSpec"
    ComponentVisibilitySpec: 
      type: object
      description: Default authored visibility for a component instance
      properties: 
        faceUp: 
          type: boolean
          default: true
        visibleTo: 
          type: array
          items: 
            type: string
          description: "When omitted, visible to all players"
          nullable: true
    BoardCard: 
      type: object
      properties: 
        type: 
          type: string
          description: "Card type identifier used to generate runtime CardIds. When count > 1, runtime IDs are generated as '{type}-1', '{type}-2', etc."
        name: 
          type: string
          description: Display name of the card
        imageUrl: 
          type: string
          description: "URL to the card's image"
          nullable: true
        text: 
          type: string
          description: Text content on the card
          nullable: true
        count: 
          type: integer
          format: int32
          description: Number of copies of this card
          minimum: 1
        cardType: 
          type: string
          description: Optional authored card category or subtype identifier
          nullable: true
        home: 
          $ref: "#/components/schemas/ComponentHomeSpec"
          description: "Optional authored home for this card inventory. When omitted, cards start detached until reducer setup places them."
          nullable: true
        visibility: 
          $ref: "#/components/schemas/ComponentVisibilitySpec"
          description: Default authored visibility for the card inventory
          nullable: true
        properties: 
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/JsonValue"
          description: Actual property values for this specific card instance. Keys must match the properties defined in the referenced cardSchema.
          x-kotlin-type: kotlinx.serialization.json.JsonElement
      required: 
        - type
        - name
        - count
        - properties
    ManualCardSetDefinition: 
      type: object
      properties: 
        id: 
          type: string
          description: Unique identifier for the card set
          minLength: 1
        name: 
          type: string
          description: Display name of the card set
          minLength: 1
        type: 
          type: string
          enum: 
            - manual
          description: Type of card set source
        cardSchema: 
          $ref: "#/components/schemas/CardPropertySchema"
          description: Schema definition for authored card properties in this card set
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
        cards: 
          type: array
          items: 
            $ref: "#/components/schemas/BoardCard"
          description: List of authored cards in this card set
          minItems: 0
      required: 
        - id
        - name
        - type
        - cards
        - cardSchema
    CardSetDefinition: 
      oneOf: 
        - $ref: "#/components/schemas/PresetCardSetDefinition"
        - $ref: "#/components/schemas/ManualCardSetDefinition"
      discriminator: 
        propertyName: type
        mapping: 
          preset: "#/components/schemas/PresetCardSetDefinition"
          manual: "#/components/schemas/ManualCardSetDefinition"
    TopologyScope: 
      type: string
      enum: 
        - shared
        - perPlayer
      description: Whether authored topology exists once for the table or once per player
    ZoneVisibility: 
      type: string
      enum: 
        - ownerOnly
        - public
        - hidden
      description: Default topology visibility for a zone or slot
    ZoneSpec: 
      type: object
      description: "Generic authored container that can hold cards, pieces, or dice"
      properties: 
        id: 
          type: string
          description: Stable zone identifier
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
        name: 
          type: string
          description: Display name for the zone
        scope: 
          $ref: "#/components/schemas/TopologyScope"
        allowedCardSetIds: 
          type: array
          items: 
            type: string
          description: Optional card-set restriction for this zone
          nullable: true
        visibility: 
          $ref: "#/components/schemas/ZoneVisibility"
          default: public
      required: 
        - id
        - name
        - scope
    BoardSpaceSpec: 
      type: object
      description: Stable authored board space or slot anchor
      properties: 
        id: 
          type: string
          description: Stable space identifier local to the board
        name: 
          type: string
          description: Human-readable space name
          nullable: true
        typeId: 
          type: string
          description: Optional authored space type identifier
          nullable: true
        fields: 
          type: object
          additionalProperties: 
            $ref: "#/components/schemas/JsonValue"
          description: "Typed authored fields validated against the board's spaceFieldsSchema"
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required: 
        - id
    BoardRelationSpec: 
      type: object
      description: Named relation between two authored spaces
      properties: 
        id: 
          type: string
          description: Optional stable relation identifier
          nullable: true
        typeId: 
          type: string
[...]
